@model List<Author>
 

    @{
    ViewBag.Title = "Lista de Autores";
    }

    <h2>Lista de Autores</h2>

    @using (Html.BeginForm("AuthorList", "Authors", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Filtrar por Nombre:")
        @Html.TextBox("authorName", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
}

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Libros Publicados</th>
        </tr>
        @foreach (var author in Model)
    {
        <tr>
            <td>@author.Id</td>
            <td>@author.Name</td>
            <td>@author.PublishedBooks</td>
        </tr>
    }
    </table>
